

.inicio-container {
    width: 60%;
    max-width: 1180px;
    padding: 0 25px;
    margin: -20px auto;
    height: 1300px;
    background-color: rgba(247, 247, 247, 0.815) 
}

.spinner-border {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 5rem !important;
    height: 5rem !important;
}

.search-spinner{
    width: 1rem !important;
    height: 1rem !important;
    position: absolute;
    top: 322px;
    left: 850px;
}

.inicio-container header{
    width: 105%;

    position: relative;
    right: 20px;
    bottom: 12px;
    height: 335px;
}

.virus{
    position: relative;
    top: 40px;
    left: 480px;
    width: 150px;
    height: 150px;
}

h1{
    height: 0px;
    position: relative;
    top: 50px;
    left: 10px;
}
h2{
    position: relative;
    bottom: 50px;
    text-align: justify;
    /* justify-content: center; */
    padding: 0 113px;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: 300px;
    margin: 32px auto;
    
}

.data-atualizacao {
    text-align: center;
    /* border:  solid; */
    border-color: var(--border-color);
    border-radius: 10px;
    box-shadow: 6px 6px 10px #999;	   
}

.card-group .card-title  {
    text-align: center;
    
}

.card-group .card {
    height: 250px;
    /* border: 2px solid; */
    /* border-color: var(--border-color); */
    border-radius: 10px;
    box-shadow: 6px 6px 10px #999;	

}

.card-group .card-text {
    text-align: center;
    position: relative;
    top: 18px;
}

.card-group .card-img{
    width:100px;
    position: absolute;
    top: 0%;
    left: 25%;
    color: var(--border-color)
}



.mapa-covid {
    position: absolute;
    left: 25%;
    top: 100%;
    width: 50%;
    height: 500px;
    /* border: 2px solid; */
    border-color: var(--border-color);
    
}

.input-group-text{
    position: relative;
    left: 30%;
}

.input  {
    width: 30%;
    position: relative;
    left: 35%;
    text-align: center;
    border-radius: 25px;
    /* border-color: blue; */
    outline: none;
    border-color: transparent;
    box-shadow: 6px 6px 10px #999;	
}

@media screen and (max-width: 1200px) {
    .mapa-covid {
        position: absolute;
        left: 25%;
        top: 120%;
        width: 50%;
        height: 500px;
        /* border: 2px solid; */
        border-color: var(--border-color);
        
    }

    .card-group .card-title {
        text-align: center;
        position: relative;
        /* top: 18px; */
        font-size: 15px;
    }

    .card-group .card-img{
        width:60px;
        position: absolute;
        top: 0%;
        left: 33%;
        color: var(--border-color)
    }
}

@media screen and (max-width: 953px){
    .card-group .card-title {
        text-align: center;
        position: relative;
        /* top: 18px; */
        font-size: 12px;
    }
    .card-group .card-text {
        text-align: center;
        position: relative;
        /* top: 18px; */
        font-size: 12px;
    }
}

@media screen and (max-width: 360px){

    .inicio-container {
        width: 100%;
        max-width: 1180px;
        padding: 0 25px;
        margin: -20px auto;
        height: 1300px;
        background-color: azure 
    
       
    }
    .card-group .card {
        height: 250px;
        border: 2px solid;
        border-color: var(--border-color);
        border-radius: 10px;

        position: relative;
        right: 2%;

        width: 325px;
    }

    .data-atualizacao {
        /* height: 250px; */
        border: 2px solid;
        border-color: var(--border-color);
        border-radius: 10px;

        position: relative;
        right: 2%;

        width: 325px;
       
    }

    .mapa-covid {
        position: absolute;
        left: 0%;
        top: 1530px;
        width: 100%;
        height: 500px;
        /* border: 2px solid; */
        border-color: var(--border-color);
        
    }

    .input  {
        width: 100%;
        position: relative;
        left: -1%;
        text-align: center;
        border-radius: 25px;
        border-color: blue;
    }

    .card-group .card-img{
        width:100px;
        position: relative;
        bottom: 120px;
        left: 33%;
        color: var(--border-color)
    }

    .card-group .card-text {
        text-align: center;
        position: relative;
        /* top: 18px; */
        font-size: 25px;
    }

    .card-group .card-title {
        text-align: center;
        position: relative;
        /* top: 18px; */
        font-size: 25px;
    }
    

  
}